#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, teal, rgb(213, 213, 213));
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*Navigation*/

.nav-container {
  width: 20%;
  height: 80%;
  padding: 30px;
  background-color: rgba(213, 213, 213, 0.675);
  border-radius: 2rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-container img {
  background-color: rgb(238, 238, 238);
  border: 3px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.user-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-name {
  font-size: 30px;
  font-weight: 600;
}
.p-expenses {
  color: rgb(78, 78, 78);
}
.li-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.li-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(78, 78, 78);
  font-size: 25px;
  text-decoration: none;
}
.icon {
  width: 30px;
  height: 30px;
}
