#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, teal, rgb(213, 213, 213));
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*Navigation*/

.nav-container {
  width: 20%;
  height: 80%;
  padding: 30px;
  background-color: rgba(213, 213, 213, 0.675);
  border-radius: 2rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-container img {
  background-color: rgb(238, 238, 238);
  border: 3px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.user-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-name {
  font-size: 30px;
  font-weight: 600;
}
.p-expenses {
  color: rgb(78, 78, 78);
}
.li-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.li-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(78, 78, 78);
  font-size: 25px;
  text-decoration: none;
  transition: 0.2s;
}
.icon {
  width: 30px;
  height: 30px;
}

/*Main*/
.main-container {
  width: 60%;
  height: 80%;
  padding: 30px;
  background-color: rgba(213, 213, 213, 0.675);
  border-radius: 2rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.h1 {
  font-size: 2rem;
}
form {
  position: relative;
  width: 43%;
}
h2 {
  font-size: 2rem;
  background-color: rgba(213, 213, 213, 0.675);
  border: 3px solid white;
  border-radius: 2rem;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.total {
  color: rgb(51, 206, 64);
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-standard {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(213, 213, 213, 0.675);
  border: 3px solid white;
  border-radius: 7px;
}
input:focus {
  outline: none;
  border-color: teal;
  box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.2);
}
.input-standard-mini {
  width: 45.2%;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(213, 213, 213, 0.675);
  border: 3px solid white;
  border-radius: 7px;
}
.input-standard-max {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 20px 40px 20px;
  background-color: rgba(213, 213, 213, 0.675);
  border: 3px solid white;
  border-radius: 7px;
}
form select {
  position: absolute;
  top: 137px;
  left: 230px;
  width: 51.3%;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(213, 213, 213, 0.675);
  border: 3px solid white;
  border-radius: 7px;
}
form select:focus {
  outline: none;
  border-color: teal;
  box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.2);
}
.btn {
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}
.btn-standard {
  background-color: teal;
}
.btn-standard:hover {
  background-color: rgb(7, 111, 111);
  transition: 0.3s;
}
.main-mini-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-box {
  width: 49%;
  height: 400px;
  background-color: rgba(213, 213, 213, 0.675);
  border-radius: 2rem;
  border: 2px solid white;
  overflow: hidden;
  overflow-y: scroll;
}
.all-transacrtions-list {
  width: 100%;
  height: 70%;
  background-color: rgba(213, 213, 213, 0.675);
  border-radius: 2rem;
  border: 2px solid white;
}
.transaction-box {
  display: flex;
  justify-content: space-between;
}
.transaction-box div {
  background-color: rgba(213, 213, 213, 0.675);
  border: 2px solid white;
  padding: 25px 50px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.transaction-box p {
  font-size: 1.6rem;
}
.total-income,
.total-expense {
  color: rgb(78, 78, 78);
}
.total-balance {
  color: rgb(51, 206, 64);
}
.info-box {
  width: 100%;
  padding: 15px 9px 12px 9px;
  background-color: teal;
  font-weight: 550;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 2px #fff solid;
}
.list-box ul {
  text-decoration: none;
}
.list-box li {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 60px 120px 90px 80px;
  column-gap: 5px;
  background-color: rgba(186, 186, 186, 0.838);
  font-weight: 300;
  padding: 15px 5px 12px 5px;
  margin-bottom: 2px;
}
.p-green {
  color: rgb(1, 255, 22);
}
.p-red {
  color: red;
}
